body,
html {
	height: 100%
}

a,
a:hover {
	outline: 0
}

.footer,
.header {
	z-index: 99
}

.clearfix:after,
.page_1 .page_bg:before {
	content: ""
}

html {
	+overflow: hidden
}

body {
	position: relative;
	width: 100%
}

.header,
.wrap,
.wrapper {
	position: absolute;
	top: 0
}

body,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
input,
li,
ol,
p,
table,
ul {
	margin: 0;
	padding: 0
}

table {
	width: auto;
	border-collapse: collapse;
	border-spacing: 0
}

.footer,
.header,
.wrap,
.wrapper {
	width: 100%;
	left: 0
}

li {
	list-style: none;
	vertical-align: bottom
}

em,
i {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

img {
	border: 0
}

.hidden {
	display: none
}

.clearfix:after {
  content: '';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0
}

.clearfix {
	zoom: 1
}
