body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:40px;
  width:340px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:236px;
  top:171px;
  width:290px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u3 {
  position:absolute;
  left:275px;
  top:146px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:236px;
  top:211px;
  width:290px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u6 {
  position:absolute;
  left:239px;
  top:330px;
  width:283px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:266px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:283px;
  height:1px;
}
#u7 {
  position:absolute;
  left:250px;
  top:222px;
  width:117px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:421px;
  top:222px;
  width:101px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:243px;
  top:257px;
  width:60px;
  height:61px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:310px;
  top:261px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:312px;
  top:302px;
  width:79px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:236px;
  top:237px;
  width:286px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:269px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u18 {
  position:absolute;
  left:317px;
  top:284px;
  width:36px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:401px;
  top:302px;
  width:53px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:431px;
  top:363px;
  width:68px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:357px;
  top:362px;
  width:68px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:366px;
  top:340px;
  width:87px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:353px;
  top:303px;
  width:40px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u29 {
  position:absolute;
  left:413px;
  top:341px;
  width:40px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u30 {
  position:absolute;
  left:238px;
  top:383px;
  width:288px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u31 {
  position:absolute;
  left:236px;
  top:540px;
  width:288px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u32 {
  position:absolute;
  left:325px;
  top:550px;
  width:10px;
  height:34px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:34px;
}
#u33 {
  position:absolute;
  left:426px;
  top:550px;
  width:10px;
  height:34px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:34px;
}
#u34 {
  position:absolute;
  left:266px;
  top:546px;
  width:24px;
  height:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:368px;
  top:547px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:464px;
  top:547px;
  width:24px;
  height:24px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:252px;
  top:571px;
  width:45px;
  height:18px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:363px;
  top:572px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:454px;
  top:572px;
  width:41px;
  height:18px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:254px;
  top:191px;
  width:40px;
  height:13px;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:300px;
  top:191px;
  width:105px;
  height:13px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:408px;
  top:191px;
  width:40px;
  height:8px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:8px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:462px;
  top:191px;
  width:53px;
  height:13px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:251px;
  top:141px;
  width:24px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
