.shop-detail{
    display: flex;
    flex-direction: column;
}


.detail-header {
    position: relative;
    height: 100px;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    i {
        position: absolute;
        font-size: 36px;
        left: 40px;
    }
}

.detail-box {
    padding: 0 20px;
    dl {
        margin-top: 20px;
        display: flex;
        height: 180px;
        overflow: hidden;
        .detail-img {
            flex: 4;
            img {
                width: 90%;
                height: 160px;
            }
        }
        .detail-info {
            flex: 5;
            h3, div {
                width: 360px;
                font-size: 34px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            h3 {
                margin-bottom: 10px;
            }
            div {
                color: #666;
                line-height: 48px;
                font-size: 24px;
            }
            .detail-discounts {

            }
        }

        .detail-text {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 56px;
                color: rgba(7, 17, 27, 0.5);
            }

        }
    }
    .detail-wapper {
        margin: 10px 0;
        height: 40px;
        line-height: 40px;
        color: #666;
        font-size: 28px;
        :first-child {
            border: 1px solid #333;
            padding: 0 6px;
            margin-right: 10px;
            background-color: #fff;
        }
        .collect {
            float: right;
            font-size: 40px;
            margin-right: 20px;
        }
    }
}

.detail-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shopping-cart {
    position: relative;
    height: 120px;
    display: flex;
    &.empty-cart {
        .commit-order {
            background: #ccc;
        }
    }
}

.cart-list {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 120px;
    height: 100%;
}

.cart-list-info {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: -2px;
}

.cart-list-title {
    background-color: #ededed;
    font-size: 24px;
    padding: 12px 20px;
    color: #666;
    span {
        float: right;
    }
}

.cart-list-text {
    padding: 40px 20px;
    position: relative;
    display: flex;
    &:after {
        left: 0;
    }
    span:nth-child(1) {
        flex: 6;
    }
    span:nth-child(2) {
        flex: 2;
        text-align: center;
    }
    span:nth-child(3) {
        flex: 2;
    }
}

.cart-shadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.cart-info {
    flex: 3;
    display: flex;
}

.cart-icon {
    flex: 3;
    line-height: 120px;
    text-align: center;
    position: relative;
    span {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 28px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        padding: 8px;
        text-align: center;
        border-radius: 30px;
        background-color: #FF0000;
        color: #fff;
        z-index: 2;
    }
    i {
        border: 1px solid #ccc;
        border-radius: 100px;
        padding: 12px;
        font-size: 60px;
        transition: padding .5s, font-size .5s;
    }
    &.large-cart {
        i {
            transition: padding .5s, font-size .5s;
            padding: 20px;
            font-size: 80px;
        }
    }
}

.cart-text {
    flex: 7;
    font-size: 28px;
    padding: 0 0 20px 20px;
    white-space: nowrap;
    span {
        color: #ff6b2a;
        font-size: 50px;
    }
    b {
        line-height: 120px;
        font-size: 28px;
        font-weight: 400;
        color: #333;
    }
}

.commit-order {
    flex: 2;
    text-align: center;
    line-height: 120px;
    font-size: 32px;
    background-color: #ff6b2a;
    color: #fff;
}

.detail-nav {
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    text-align: center;
    display: flex;
    &:after {
        left: 0;
    }
    .goods {
        &:after {
            right: 0;
            top: 24px;
        }
    }
    div {
        flex: 1;
    }
}

.goods-wapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.reviews-wapper {
    flex: 1;
}

.goods-active {
    color: #faa11d;
}

.goods-nav {
    flex: 3;
    font-size: 30px;
    li {
        display: table;
        background-color: rgba(244, 244, 244, 0.8);
        width: 83%;
        height: 80px;
        padding: 20px;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .goods-nav-active {
        background-color: #fff;
    }

}

.goods-main {
    flex: 7;
    li {
        dl:last-child:after {
            height: 0;
        }
    }
}

.food-title {
    background-color: rgba(244, 244, 244, 0.8);
    height: 68px;
    font-size: 30px;
    line-height: 68px;
    border-left: 2px solid #ccc;
    padding-left: 40px;
}

.food-item {
    display: flex;
    padding: 20px;
    height: 200px;
    dt {
        flex: 5;
        img {
            width: 90%;
        }
    }
    dd {
        flex: 5;
        h4 {
            color: #111;
            width: 260px;
            font-size: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .food-price {
            color: #faa11d;
            line-height: 56px;
            font-size: 36px;
        }
        .food-sellCount {
            color: #666;
            margin-bottom: 4px;
            font-size: 30px;
        }
    }
}

/*小球*/
.ball-container {
    .ball {
        position: fixed; //小球动画必须脱离html布局流
        left: 46px;
        bottom: 44px;
        z-index: 200;
        transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41);
        .inner {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: rgb(0, 160, 220);
            transition: all 0.4s linear;
        }
    }
}

/*过渡效果*/

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}
