body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:53px;
  top:53px;
  width:340px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:182px;
  width:290px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u3 {
  position:absolute;
  left:208px;
  top:157px;
  width:37px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:125px;
  top:157px;
  width:55px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:93px;
  top:153px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:177px;
  top:267px;
  width:92px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:460px;
  top:62px;
  width:340px;
  height:640px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u12 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:486px;
  top:193px;
  width:290px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u14 {
  position:absolute;
  left:521px;
  top:168px;
  width:64px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:520px;
  top:226px;
  width:222px;
  height:96px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:96px;
}
#u17 {
  position:absolute;
  left:2px;
  top:40px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:541px;
  top:232px;
  width:66px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:536px;
  top:249px;
  width:144px;
  height:13px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:497px;
  top:163px;
  width:24px;
  height:24px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
