body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:186px;
  top:244px;
  width:341px;
  height:672px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:672px;
}
#u1 {
  position:absolute;
  left:2px;
  top:328px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:391px;
  width:280px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u3 {
  position:absolute;
  left:233px;
  top:346px;
  width:24px;
  height:24px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:257px;
  top:352px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:233px;
  top:370px;
  width:24px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:257px;
  top:378px;
  width:105px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:463px;
  top:355px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:214px;
  top:773px;
  width:288px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u14 {
  position:absolute;
  left:303px;
  top:783px;
  width:10px;
  height:34px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:34px;
}
#u15 {
  position:absolute;
  left:404px;
  top:783px;
  width:10px;
  height:34px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:34px;
}
#u16 {
  position:absolute;
  left:244px;
  top:779px;
  width:24px;
  height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:346px;
  top:780px;
  width:24px;
  height:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:442px;
  top:780px;
  width:24px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:230px;
  top:804px;
  width:45px;
  height:18px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:341px;
  top:805px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:432px;
  top:805px;
  width:41px;
  height:18px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:218px;
  top:395px;
  width:280px;
  height:382px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:382px;
}
#u29 {
  position:absolute;
  left:2px;
  top:183px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:295px;
  top:486px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:357px;
  top:496px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:295px;
  top:546px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:404px;
  top:506px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:346px;
  top:546px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:386px;
  top:556px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:350px;
  top:615px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:295px;
  top:596px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:404px;
  top:606px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:341px;
  top:666px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:463px;
  top:401px;
  width:24px;
  height:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:230px;
  top:732px;
  width:24px;
  height:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:50px;
  top:751px;
  width:131px;
  height:13px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:543px;
  top:401px;
  width:105px;
  height:13px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:563px;
  top:556px;
  width:209px;
  height:56px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:56px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
