body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:20px;
  width:340px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:109px;
  top:111px;
  width:290px;
  height:459px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:459px;
}
#u3 {
  position:absolute;
  left:2px;
  top:222px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
