body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:439px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:75px;
  width:340px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:125px;
  top:206px;
  width:290px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u3 {
  position:absolute;
  left:160px;
  top:181px;
  width:64px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:131px;
  top:216px;
  width:280px;
  height:119px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:119px;
}
#u6 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:146px;
  top:226px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:146px;
  top:249px;
  width:144px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:136px;
  top:176px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
